body{
  margin:0;
  background:#111;
  color:white;
  font-family:Arial;
}

#chat{
  height:80vh;
  overflow:auto;
  padding:10px;
}

.msg{
  padding:10px;
  margin:5px;
  border-radius:10px;
  max-width:70%;
}

.me{
  background:#25d366;
  margin-left:auto;
}

.other{
  background:#333;
}

@media(max-width:600px){
  .msg{
    max-width:85%;
  }
}