body {
  margin: 0;
  font-family: Arial;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 30%;
  background: #075e54;
  color: white;
  padding: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  background: #128c7e;
  margin: 5px 0;
  cursor: pointer;
}

.chat {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.header {
  background: #075e54;
  color: white;
  padding: 10px;
}

#messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background: #ece5dd;
}

.me {
  text-align: right;
  background: lightgreen;
  margin: 5px;
  padding: 8px;
  border-radius: 10px;
}

.other {
  text-align: left;
  background: white;
  margin: 5px;
  padding: 8px;
  border-radius: 10px;
}

.inputBox {
  display: flex;
}

.inputBox input {
  flex: 1;
  padding: 10px;
}

.inputBox button {
  width: 60px;
}